body{
  background-color: #e5f0f8;
  color: #0b113a;
}

.App {
  text-align: center;
}

.button-blue {
  background-color: #0057ac;
}

.button-blue:hover {
  background-color: #0b113a;
}

.balance-info{
  padding-top: 1em;
}